/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
/* font-family: Arial, sans-serif; */
/* background-color: #ffffff; */
/* background-color: #eff2e9; */
/* background-color: #212121; */
/* background-color: #000000; */
/* background-color: #121212; */
/* border: 2px solid red; */
/* border: 2px solid red; */
/* border: 2px solid rgb(77, 239, 123); */
/* border-radius: 50%; */
/* text-transform: uppercase; */

/* width: auto; */
/* align-items: center; */
/* width: 100px; */

/* border: 2px solid#00ffff; */
/* box-shadow: 0 0 30 #00ffff; */
/* text-shadow: 0 0 35px #00ffff; */
/* background-color: transparent; */
/* filter: drop-shadow(inset 0 0 10px #00ffff); */

/* background-color: #212121; */
/* text-decoration: none; */
/* background-color: transparent; */
/* width: 500px; */
/* color: greenyellow; */
/* width: 100px; */
/* align-items: center; */
/* color: #00ffff; */
/* border: 2px solid rgb(204, 234, 86); */
/* text-shadow: 0 0 15px #b2fc9d; */
/* text-shadow: 0 0 15px #ffd700; */
/* filter: drop-shadow(0 0 8px #bf00ff) drop-shadow(0 0 16px #bf00ff); */
/* background-color: transparent; */
/* border: 2px solid #085959; */
/* text-decoration: none; */
/* color: #A9A9A9; */
/* color: #FFD700; */
/* color: #00ffff; */
/* purpura neon */
/* color: #BF00FF; */
/* purpura fuerte */
/* color: #FF00FF; */
/* magenta neon */
/* font-weight: bold; */
/* font-size: 2rem; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #000000;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #212121;
}

.logo-siglas-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container,
.userpic {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin: 0;
    height: 90%;
    filter: drop-shadow(0 0 15px #00ffff) drop-shadow(0 0 15px #00ffff);
}

.siglas-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.siglas-app {
    margin: 0;
    filter: drop-shadow(0 0 8px #00ffff) drop-shadow(0 0 16px #00ffff);
    text-shadow: 0 0 35px #00ffff;
    color: #000000;
    transition: 1s;
}

.nameSist-container {
    margin: 0;
    padding: 0;
    max-width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
}

.name-sist {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    line-height: 1.9rem;

    filter: drop-shadow(0 0 8px #00ffff) drop-shadow(0 0 8px #00ffff);
    text-shadow: 0 0 15px #00ffff;
    text-align: justify;
    color: #000000;
}

.user-menu-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid #00ffff; */
}

.user-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid #00ffff; */
}

.username {
    margin: 0;
    text-align: end;
    color: #2dfb08;
}

.img-user {
    border-radius: 50%;
    height: 75%;
    filter: drop-shadow(0 0 5px #2dfb08) drop-shadow(0 0 8px #2dfb08);
    text-shadow: 0 0 35px #2dfb08;
}

.menu-hamb {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-menu {
    margin: 0;
    filter: drop-shadow(0 0 5px #00ffff) drop-shadow(0 0 8px #00ffff);
    text-shadow: 0 0 35px #00ffff;
    border-radius: 50%;
    cursor: pointer;
}

.ico-menu:hover {
    transform: scale(1.2);
}

.nav-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    display: none;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    /* background-color: #212121; */
    background-color: #333;
    /* border: 2px solid red; */
    /* text-transform: uppercase; */
}

.nav-menu ul li {
    /* list-style: none;
    display: flex;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s; */
    background: transparent;
}

.nav-menu ul li a {
    margin: 0;
    display: block;
    padding: 14px 28px;
    color: #00ffff;
    color: #ffffff;
    text-decoration: none;

    font-size: 1.2rem;
    font-weight: bold;
    /* background-color: transparent; */
    transition: background-color 0.3s ease;

    /* font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff inset;
    text-shadow: 0 0 8px #55ff37; */

}

.nav-menu ul li a:hover {
    /* background-color: rgb(40, 208, 65);
    box-shadow: 0 0 15px rgb(40, 208, 65);
    background: transparent; */
    background-color: #00ffff;
    background-color: #555;
}



/* nav a {
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    color: #00ffff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff inset;
    text-shadow: 0 0 8px #55ff37;
    transition: all 0.3s ease;
} */

/* nav ul li {
    display: flex;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
    background: transparent;
} */

/* nav ul li:hover {
    background-color: rgb(40, 208, 65);
    box-shadow: 0 0 15px rgb(40, 208, 65);
    background: transparent;
} */



/* nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: transparent;
} */

/* nav ul li a:hover {
    color: black;
    font-weight: 700;
} */


main {
    padding: 20px;
    text-align: center;
    /* background-color: #ddd; */
    color: #aafcb5;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}






.name {
    /* flex: 1 0 140px; */
    min-width: 600px;
    border-radius: 5px;
}

.email {
    flex: 1 0 180px;
    /* min-width: 400px; */
    border-radius: 5px;
}



button {
    margin: 0;
    padding: 0;
    height: auto;
    /* background: transparent;
    border: none; */
    cursor: pointer;

    flex: 1 0 80px;
    min-width: 30%;
    background-color: rgb(2, 123, 2);
    border-radius: 5px;

}



button:hover {
    background-color: rgb(6, 182, 82);
}

button:active {
    background-color: rgb(2, 123, 2);
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: gray;
    cursor: not-allowed;
}

button:disabled:active {
    background-color: gray;
    cursor: not-allowed;
}

input {
    margin: 0;
    padding: 0;
    height: auto;
    /* background: transparent;
    border: none; */
    cursor: pointer;

    flex: 1 0 180px;
    min-width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

}

input:hover {
    background-color: rgb(200, 200, 200);
}























/* pantallas grandes  */

@media (min-width: 968px) {
    header {
        height: 14vh;
        border-bottom: 3px solid #2dfb00;
    }

    .logo-container {        
        width: 120px;
        /* border: 2px solid red; */
    }
    .siglas-app {
        padding: 0 0 0 25px;
        font-size: 4rem;
        letter-spacing: 23px;
    }

    .username {
        padding: 10px;
        font-size: 1.0rem;
    }

    .img-user {
        height: 80%;
        /* border: 3px solid#2dfb08; */
    }

    .menu-hamb {
        /* margin: 0;
        display: flex;
        justify-content: center;
        align-items: center; */

        /* height: 90%; */
        width: 120px;
        /* border: 2px solid red; */
    }

    .ico-menu {
        /* margin: 0;
        filter: drop-shadow(0 0 5px #00ffff) drop-shadow(0 0 8px #00ffff);
        text-shadow: 0 0 35px #00ffff;
        border-radius: 50%;
        cursor: pointer; */

        /* height: 100%; */
        width: 70px;
        /* border: 2px solid rgb(29, 243, 33); */
    }

}
























/* pantallas pequeñas  */
@media (max-width: 967px) {
    header {
        height: 12vh;
        /* border-bottom: 2px solid #2dfb00; */
    }

    .logo-container {        
        width: 90px;
        /* border: 2px solid red; */
    }

    .siglas-app {        
        font-size: 2.5rem;
        letter-spacing: 16px;
        /* padding: 0 0 0 25px; */
        /* font-size: 4rem;
        letter-spacing: 23px; */
    }

    .nameSist-container {
        display: none;
    }

    .username {
        /* padding: 10px;
        font-size: 1.0rem; */
        display: none;
    }

    .img-user {        
        height: 80%;        
    }

    .menu-hamb {
        width: 70px;
        /* margin: 0;
        display: flex;
        justify-content: center;
        align-items: center; */

        /* height: 90%; */
        
        /* border: 2px solid red; */
    }

    .ico-menu {
        /* margin: 0;
        filter: drop-shadow(0 0 5px #00ffff) drop-shadow(0 0 8px #00ffff);
        text-shadow: 0 0 35px #00ffff;
        border-radius: 50%;
        cursor: pointer; */

        /* height: 100%; */
        width: 70px;
        /* border: 2px solid rgb(29, 243, 33); */
    }
}










