@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* <weight>: Use a value from 300 to 800 */
/* <uniquifier>: Use a unique and descriptive class name */

/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* se define fuente base: 1rem = 12px */
html {    
    font-family: 'Open Sans', sans-serif;    
    font-optical-sizing: auto;    
    font-style: normal;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
}

body {
    --bg-color: #000000;
    --header-color: #171717;
    --dark-color-red: #ff0000;
    --text-color1-white: #ffffff;
    --text-color2-black: #000000;
    --color-style1-green: #2dfb00;
    --color-style2-cian: #00ffff;
    --color-style3-magenta: #bf00ff;
    background-color: var(--bg-color);
    width: 100%;
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-color);
    position: fixed;
    z-index: 1000;
    border-bottom: .1rem solid #2dfb00;
}

.logo-siglas-container {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container {
    height: 100%;
    filter: drop-shadow(0 0 15px #00ffff) drop-shadow(0 0 35px #00ffff);
}

.logo-container img {
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px #00ffff) drop-shadow(0 0 8px #00ffff);
}

.siglas-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 15px #00ffff) drop-shadow(0 0 35px #00ffff);
}

.siglas-app {
    font-size: 2.2rem;
    letter-spacing: 1rem;
    filter: drop-shadow(0 0 3px #00ffff) drop-shadow(0 0 8px #00ffff);
    text-shadow: 0 0 15px #00ffff;
    color: var(--text-color2-black);
    transition: all 1s ease-in 1s;
}

.name-sist-container {
    height: 80%;
    width: 30%;
    display: flex;
    display: none;
}

.name-sist {
    height: 100%;
    font-size: .8rem;
    letter-spacing: 0.2rem;
    line-height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-style2-cian);
}

.user-menu-container {
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* solo se aplica para pantallas grandes */
.username {
    width: 65%;
    display: flex;
    align-items: center;
    text-align: end;
    font-size: .75rem;
    color: var(--color-style1-green);
    display: none;    
}

.ico-menu {
    height: 90%;
    filter: drop-shadow(0 0 15px #00ffff) drop-shadow(0 0 35px #00ffff);
    cursor: pointer;    
}

.ico-menu img {
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px #00ffff) drop-shadow(0 0 8px #00ffff);
}

.ico-menu:hover {
    transform: scale(1.1);
}

input[type="checkbox"] {
    width: 40px;
    display: none;
}

.nav-container {
    position: fixed;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    max-width: 0;
    transition: .6s;
    text-align: right;
}

.nav-container a {
    padding: .5rem 3rem .5rem 0;
    display: block;
    cursor: pointer;
    color: var(--color-style2-cian);
    letter-spacing: .2rem;
    font-weight: bold;
    font-size: 1.1rem;
    background: var(--header-color);
    border-bottom: 1px solid var(--color-style1-green);
}

input#menu:checked~.nav-container {
    max-width: 100%;
}

.nav-menu a:hover {
    background: var(--color-style3-magenta);
}

.nav-menu li a:active {
    background: var(--color-style1-green);
    color: var(--color-style3-magenta);
}

.bajo-header {
    width: 100vw;
    height: 50px;
}



/* estilos de cada pagina */
main {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    align-items: center;
    color: var(--text-color1-white);
    background: var(--bg-color);
}

.seccion-titulos{
    margin: 1rem 0 1rem 0;
    width: 100%;
    height: 50px;    
    border: 1px solid #bf00ff;
}
h2, h3 {
    text-align: center;
}

.seccion-graficos{

    width: 100vw;
    margin: 1rem 0 1rem 0;

    /* display: flex;
    justify-content: center; */
    background: #060ea7;
    border: 3px solid #bf00ff;
}

.grafico{
    margin: auto;
    width: 80%;
    
    background: #06a739;
}

.imagen {
    margin: auto;
    width: 80%;
    /* min-width: 400px; */
    height: 300px;
    background-color: #4ce5e5;
    color: #4318de;
    font-size: 3rem;
    border: 5px solid #f52c36;
}

.clase-prueba{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}



















/* 📱 Tablets verticales y mayores */
@media screen and (min-width: 560px) {

    html {
        font-size: 12px;
    }

    /* estilos del header */
    .logo-siglas-container {
        width: 50%;
    }

    .name-sist-container {
        display: block;
    }

    .user-menu-container {
        width: 20%;
    }

    /* Estilos de cada pagina */

}




/* extra no se de que sera tabletas horizontal?*/

@media screen and (min-width: 820px) {
    html {
        font-size: 16px;
    }

    /* Estilos del header */
    header {
        height: 60px;
    }

    .bajo-header {
        height: 60px;
    }


    /* Estilos para cada pagina */
}


















/* Escritorio */
/* 💻 Escritorio grande */
@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    /* Estilos del header */ 
    header {
        height: 75px;
    }

    .logo-siglas-container {
        width: 30%;        
    }

    .name-sist-container {
        width: 40%;        
    }

    .user-menu-container {
        width: 25%;        
    }

    .user-container {
        width: 70%;         
    }

    .username {
        display: block;        
    }

    .nav-container {
        /* position: absolute; */
        position: fixed;
        /* margin-top: 75px; */
        top: 75px;

        width: 25%;

        right: 0;
        
        border-left: 5px solid slateblue;
    }

    .nav-menu {
        /* text-align: left; */

    }

    .nav-menu li a {
        font-size: 1.1rem;

    }



}